

$color-primary-white: #FFF;
$color-primary-black: #171414;
$color-second-black: #212121;
$color-yellow: #FFDA55;
$color-cian: #48D0B0;
$color-auttar-cinza: #282828;

@import './components/HeaderStyle.scss';